 body { text-align: center;
       background-color: #494d5f; }
h2 { font-family: "American Typewriter";
    color: #e5eaf5; }
p { font-family: "American Typewriter";
 color: #e5eaf5; }
h6 {  margin: 0 auto;
    font-family: "American Typewriter";
    color: #e5eaf5; }
button {  margin: 0 auto;
    font-family: "American Typewriter";
    color: #e5eaf5; }
.h2 { font-family: "American Typewriter";
    color: SlateBlue; }
.pic { 
 display:block;
margin:auto;}
