 body { text-align: center;
       background-color: #494d5f; }
h2 { font-family: "American Typewriter";
    color: #e5eaf5; }
p { font-family: "American Typewriter";
 color: #e5eaf5; }
h6 {  display: flex;  
   align-items: flex-end;
    font-family: "American Typewriter";
    color: #e5eaf5; }
